<% include ../layoutHead %>

<div class="main">
<h1>Toire.tv</h1>
    <div id="chatlog">
        <div id="navigation">
            <ul>
            <% for(var i = 0; i < messageIndexes.length; i++) { %>
                <li><time><%= twitch.Util.formattedDate(messageIndexes[i].createdAt) %></time></li>
            <% } %>
            </ul>
        </div>
        <div d="content">
            <article>
                <h2><%= twitch.Util.formattedDate(showDate) %></h2>
                <ul class="messages">
                    <% for(var i = 0; i < messages.length; i++) { %>
                    <li>
                        <time><%= twitch.Util.formattedTime(messages[i].createdAt) %></time>
                        <span class="user"><%= messages[i].user %></span>
                        <span class="message"><%= messages[i].text %></span>
                    </li>
                    <% } %>
                </ul>
            </article>
        </div>
    </div>
</div>

<% include ../layoutBottom %>
